$font-family-sans-serif: "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif !default;
$font-size-base: 14px;
$line-height-base: 1.5rem;

// colors
$text-color: #292b2c;
$background-color: #d2d0cb;
$background-light: #ecebe6;;
$header-color: #7e7c77;
$green: #29bd56;
$blue: #296bbd;
$red: #bd2929;

// layout
$gutter: 2rem;


$black: $text-color;
$active: $blue;